
/*--------------------- /General ---------------------*/

.h1 {
    color: var(--white);
    text-align: center;
}

.h3 {
    color: var(--white);
    margin-bottom: 20px;
}

.wrapper {
    padding: 25px;
    border-radius: 16px;
    background-color: var(--darkGray);
}

.table>:not(caption)>*>* {
    color: var(--lightnessGray);
    background-color: transparent;
    vertical-align: middle;
    padding: 12px 6px;
}

.form-control,
.form-control:focus,
.form-control::placeholder,
.form-select,
.form-select:focus {
    color: var(--lightnessGray);
    background-color: var(--lightGray);
    border: none;
    box-shadow: none;
}

.form-check-input:focus {
    border-color: var(--lightnessGray);
    box-shadow: none;
}
.form-check-input:checked {
    background-color: var(--darknessGray);
    border-color: var(--lightnessGray);
}

#myChart rect {
    fill: transparent;
}
#myChart text {
    fill: var(--lightnessGray);;
}