
.table>:not(caption)>*>* {
    color: var(--lightnessGray);
    background-color: transparent;
    vertical-align: middle;
    padding: 12px 6px;
}

#myChart rect {
    fill: transparent;
}
#myChart text {
    fill: var(--lightnessGray);;
}